
@font-face{
    font-family:RobotoMedium;
    src: url(Roboto-Medium.ttf)
}
@font-face{
    font-family:RobotoLight;
    src: url(Roboto-Light.ttf)
}

body{
    margin:0;
}

#title{
font-family:RobotoLight;
font-size:8vh;
}
#navbar{
top:0vh;
left:1vh;
border-bottom:solid .2vh black;
}