<head>
    {%load static%}
    <link rel="icon" href="{%static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
</head>

<body>
    <!-- <div id="navbar">
        <a href="main.html"><div id="title">Pokemans</div></a>
        <a href="mons.html"><div class="smallnav">Pokemon</div></a>
        <a href="moves.html"><div class="smallnav">Moves</div></a>
        <a href="abilities.html"><div class="smallnav">Abilities</div></a>
    </div> -->
    <div class="pokemon-list">
    {%for pokemon in pokemons%}
        <div class ="pokemon-container">
            <a href = "/info/{{pokemon.id}}">
                <img src="{{pokemon.image_url}}" loading ="lazy">
            </a>
            <h2>{{pokemon.name}}</h2>
            {%for type in pokemon.types.all%}
                {{type.name}}
            {%endfor%}
        </div>

        <!-- <h3>Abilities</h3>
        {%for ability in pokemon.abilities.all%}
            {{ability.name}}
        {%endfor%}  -->
        
        {%endfor%}
    </div> 
        
    </div>
</body>