<head>
</head>
<style>
    @import url("../../assets/styles.css");
</style>
<body>
    <div id="navbar">
        <a href="main.html"><div id="title">Pokèmans</div></a>
        <a href="mons.html"><div class="smallnav">Pokèmon</div></a>
        <a href="moves.html"><div class="smallnav">Movès</div></a>
        <a href="abilities.html"><div class="smallnav">Abilitiès</div></a>

        {%for pokemon in pokemons%}
            <div>
                <img src="{{pokemon.image_url}}">
                <h2>{{pokemon.name}}</h2>
                {%for type in pokemon.types.all%}
                    <div>{{type.name}}</div>
                {%endfor%}
            </div>

            <h3>Moves</h3>
            {%for move in ordered_moves.all%} 
                {%if move.move_learn_method.name == 'level-up'%}
                <li>
                    {{move.name}}
                    {{move.level_learned}}
                    {{move.move_learn_method.name}}
                </li>
                {%endif%}
            {%endfor%}   

            {%for move in pokemon.moves.all%} 
                {%if move.move_learn_method.name == 'tutor'%}
                <li>
                    {{move.name}}
                    {{move.level_learned}}
                    {{move.move_learn_method.name}}
                </li>
                {%endif%}
            {%endfor%}

            {%for move in pokemon.moves.all%}   
                {%if move.move_learn_method.name == 'egg'%}
                <li>
                    {{move.name}}
                    {{move.level_learned}}
                    {{move.move_learn_method.name}}
                </li>
                {%endif%}
            {%endfor%}




            <h3>Abilities</h3>
            {%for ability in pokemon.abilities.all%}
                {{ability.name}}
            {%endfor%}
            
        {%endfor%}
 
        
    </div>
</body>